<li id="game-{{id}}">
    <div>
        <span class="warning" id="validation-message"></span>
    </div>
    <div class="box">
        <div>
            <dl>
                <dt>NAME</dt>
                <dd><input value="{{name}}" name="name" type="text" size="100" required="true" placeholder="ただのラベルです.自由に命名してください"/></dd>
                <dt>URL</dt>
                <dd><input value="{{url}}" name="url" type="url" size="100" required="true" placeholder="DMMゲームのURL" /></dd>
                <dt>SIZE</dt>
                <dd>width:<input value="{{widget.size.width}}" name="width" type="number" placeholder="窓サイズ幅"/> height:<input value="{{widget.size.height}}" name="height" type="number" placeholder="窓サイズ高"/></dd>
                <dt>OFFSET</dt>
                <dd>left:<input value="{{widget.offset.left}}" name="left" type="number" placeholder="窓内でずらす幅"/> top:<input value="{{widget.offset.top}}" name="top" type="number" placeholder="窓内でずらす高さ" /></dd>
            </dl>
        </div>
        <div>
            <div>
                <img id="add-game-commit" src="../img/symbols/plus.png" class="nano clickable" />
            </div>
        </div>
    </div>
</li>