<li id="game-{{id}}">
    <div>
        <span class="emphasized italic">id {{id}}</span>
    </div>
    <div class="box">
        <div>
            <dl>
                <dt>NAME</dt>
                <dd>{{name}}</dd>
                <dt>URL</dt>
                <dd>{{url}}</dd>
                <dt>SIZE</dt>
                <dd>width:{{widget.size.width}} height:{{widget.size.height}}</dd>
                <dt>OFFSET</dt>
                <dd>left:{{widget.offset.left}} top:{{widget.offset.top}}</dd>
            </dl>
        </div>
        <div>
            <div>
                <img src="../img/symbols/wrench.png" class="nano pale appear clickable edit-game annotate" data-gameid="{{id}}" data-gamename="{{name}}" data-description="この設定を編集する" />
            </div>
            <div>
                <img src="../img/symbols/bin.png" class="nano pale appear clickable delete-game annotate" data-gameid="{{id}}" data-gamename="{{name}}" data-description="この設定を削除する" />
            </div>
        </div>
    </div>
</li>